/* css reset */
* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 85px;
  background-color: #2c3e50;
}

.navbar {
  color: white;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}

.nav-btn {
  display: flex;
  justify-content: center;
  list-style: none;
  font-size: 16px;
  font-weight: bolder;
}

.list > a {
  margin-right: 20px;
  text-decoration: none;
  cursor: pointer;
  color: white;
  transition: all 0.3s ease-in-out;
}

.list > a:hover,
.list > a:focus {
  color: #15967d;
}
.menu {
  display: none;
}

/* here  */
.hero {
  background-color: #15967d;
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  margin: 0 16px;
  padding: 6rem 12px;
}
.avatar {
  width: 15rem;
  display: block;
  margin-bottom: 50px;
}

.hero h4 {
  font-size: 44px;
}

.hr-star {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  margin: 20px 0 24px;
}

.star {
  height: 35px;
  width: 35px;
}
.line {
  margin: 0 16px;
  width: 100px;
  height: 2px;
  background-color: white;
}

.content > p {
  font-size: 20px;
}

/* Media Query */

@media only screen and (max-width: 992px) {
  .nav-btn {
    display: none;
  }
  .menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #15967d;
    height: 50px;
    width: 100px;
    border-radius: 10px;
    cursor: pointer;
  }

  .menu > p {
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .menu svg {
    width: 20px;
    height: 20px;
    padding-left: 3px;
  }
}
